# Excluded folders
BATCH 3/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.user

# Temp files
*.tmp
*.bak
*.swp
